---
layout: default
---

<!-- Posts -->
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="info">
        <span class="info-line">{% if post.date %}{{ post.date | date: "%e.%m.%Y" }}{% endif %}</span>
        <span class="info-line">{% if post.author %}{{ post.author }}{% else %} {{ site.author }} {% endif %}</span>
      </div>

      <div class="entry">
        {% if post.photo %}
        <div class="photo">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ site.imagesDir }}/{{ post.photo }}" title="{{ post.title }}" alt="{{ post.title }}" />
          </a>
        </div>
        {% endif %}

        {{ post.excerpt }}

      </div>

    </article>
  {% endfor %}
</div>

<!-- Pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="current-page">{{ page }}</span>
    {% else %}
      <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}/">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}/">Next</a>
  {% endif %}
</div>
{% endif %}
